@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

/* Variables */
:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #74C0FC;
    --secondary-color: #282828;
    --link-color: #74C0FC;
    --font-family: 'Jost', sans-serif;
    --fa-border-color: #555;
}

/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 1.25rem; /* Increased normal text size */
    line-height: 1.75;  /* Adjusted line height for better readability */
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    padding-top: 50px;
    overflow-x: hidden;
    transition: background-color 0.3s, color 0.3s;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Containers */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container-xl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section {
    padding: 40px 20px;
    margin: 0;
}

/* Navbar */
.navbar {
    position: fixed;
    text-decoration: none;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #272935;
    z-index: 1000;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .navbar-nav .nav-link {
    font-size: 1.1rem;
    font-weight: 700;
    font-weight: normal; /* Ensure the links are not bold */
    color: var(--text-color);
}

.navbar-nav {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.navbar-nav .nav-item {
    margin: 0;
}

.navbar-nav .nav-link:hover, .navbar-brand:hover {
    color: var(--primary-color);
    text-decoration: none;
}

/* Profile Picture */
.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

/* Biography Section */
.biography-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.left-section {
    text-align: center;
    margin-bottom: 20px;
    flex: 1;
}

.left-section .portrait-title {
    font-size: 2.4rem;
    font-weight: normal;
    color: var(--text-color);
}

.left-section .student-grade {
    color: #a0a0a0;
    font-size: 1.4rem;
    margin: 5px 0;
}

.left-section .school-link {
    color: #bbdefa;
    font-size: 1.4rem;
    margin-bottom: 20px;
    display: inline-block;
}

.left-section .network-icon {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.left-section .network-icon img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1) sepia(1) saturate(5000%) hue-rotate(90deg);
}

.right-section {
    color: var(--text-color);
    flex: 1;
}

.right-section h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.right-section h2 {
    margin-top: 20px;
    font-size: 2rem;
}

.right-section p {
    margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
}

.right-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.right-section ul li {
    margin-bottom: 10px;
}

/* Accomplishments Section */
#accomplishments {
    padding: 40px 20px;
    background-color: #22252e;
    color: var(--text-color);
}

#accomplishments h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.accomplishment-content h2 {
    font-size: 2rem; /* Increased size for accomplishment title */
}

.accomplishment-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.accomplishment-details {
    background-color: #353a40;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    color: var(--text-color);
}

.accomplishment-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.accomplishment-logo {
    width: 150px;
    display: block;
    margin-bottom: 10px;
}

.accomplishment-content h2 {
    margin-top: 10px;
    font-size: 2rem;
}

.company-date {
    color: #a0a0a0;
    font-size: 1.25rem;
    margin-top: 3px;
}

.description {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.25rem;
    color: #d0d0d0;
}

.certification-link {
    font-size: 1.5rem;
    display: block;
    margin-top: 15px;
    text-decoration: none;
}

.certification-link:hover {
    text-decoration: underline;
}

/* Education Section */
#education {
    padding: 40px 20px;
    background-color: #22252e; /* Dark background */
    color: var(--text-color);
}

#education h1 {
    margin-bottom: 30px;
    font-size: 2.5rem; /* Match the size with Accomplishments title */
}

.education-item {
    margin-bottom: 20px; /* Space between each education item */
}

.education-details {
    background-color: #353a40; /* Darker rectangle */
    padding: 20px;
    border-radius: 10px;
    color: var(--text-color);
}

.education-header {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between the logo and the school name */
}

.education-logo {
    width: 150px; /* Adjust the size of the logo */
    display: block;
    margin-bottom: 10px;
}

.education-details h2 {
    margin-top: 10px;
    font-size: 2rem; /* Larger font size for the school name */
}

.school-date {
    color: #a0a0a0; /* Light gray for the school name and date */
    font-size: 1.25rem; /* Slightly smaller font for the date */
    margin-top: 3px; /* Decreased space between school name and date */
}

.education-description {
    margin-left: 20px; /* Add margin to the description for better alignment */
    margin-top: 10px;
    font-size: 1.25rem; /* Match font size with description text */
    color: #d0d0d0; /* Slightly lighter text color for the bullet points */
}

.education-description li {
    margin-bottom: 10px; /* Space between each bullet point */
}

/* Additional Styling */
#about, #experience, #projects, #contact {
    background-color: #272935;
    color: var(--text-color);
}

.site-footer {
    padding: 20px 0;
    background-color: #22252e;
    color: var(--text-color);
    text-align: center;
}

/* Responsive Design */
@media (max-width: 991px) {
    .biography-container {
        flex-direction: column;
        align-items: center;
    }
}
